<div class="main snippet">
    <div class="snippetHeader">
        <div class="snippetMeta">
            <div class="snippetMetaHeader">
                <span class="snippetName">{{snippet.name}}</span>
                <span class="snippetAuthor">Author: <a href="/user/{{snippet.username}}" class="authorLink">{{snippet.username}}</a></span>
            </div>
        </div>
        {{#ifEquals snippet.username user}}
        <div class="snippetMenu">
            <a href="/snippet/{{snippet.id}}/edit"><button id="editSnippet" class="snippetMenuButton edit">Edit</button></a>
            <a href="/snippet/{{snippet.id}}/delete"><button id="deleteSnippet" class="snippetMenuButton delete">Delete</button></a>
        </div>
        {{/ifEquals}}
    </div>
    <div class="snippetTags">
        {{#each snippet.tags}}
            <a href="/tag/{{this}}" class="tag">{{this}}</a>
        {{/each}}
    </div>
<pre><code>{{snippet.snippet ~}}</code></pre>
    <div class="snippetMetaFooter">
        <span class="snippetCreatedAt">Created: {{formatDate snippet.createdAt "long"}}</span>
        <span class="snippetUpdatedAt">Last edited: {{formatDate snippet.updatedAt "long"}}</span>
    </div>  
</div>
