{{#unless loggedIn}}
<div class="main info">
<h2>{{user}}</h2>
</div>
{{/unless}}
{{#each snippets}}
<div class="main snippetPreview">
    <div class="header">
        <div class="name">
            <a href="/snippet/{{this.id}}" class="snippetLink">{{this.name}}</a>
        </div>
    </div>
<pre><code>{{this.snippet}}</code></pre>
    <div class="meta">
        <div class="snippetTags preview">
            {{#each this.tags}}
                <a href="/tag/{{this}}" class="tag">{{this}}</a>
            {{/each}}
        </div>
        Hacked by <a href="/user/{{this.username}}" class="authorLink">{{this.username}}</a> on {{formatDate this.createdAt "long"}}
    </div>
</div>
{{/each}}
